
{# Display full view side bar #}
<div class="default full-block">
    <div class="header">
        <div class="user-info">
            <span class="ghost">{{ 'word.signedInAs'|trans }}</span>
            <span class="userName">{{ app.user.userName }}</span>
        </div>
        <a class="btnr btnr-default-inv sidebar-toggle-close" id="main-sidebar-toggle">
            <span class="glyphicon"></span>
        </a>
    </div>
    <div class="body margin-top-20">
        {% for key, module in twig.app.modules %}
            <a href="{{ path(module.route) }}" class="sidebar-links" title="{{ ('module.' ~ key ~ '.title')|trans }}">
                {{ ('module.' ~ key ~ '.icon')|icon }}
                <span class="module-title">
                    {{ ('module.' ~ key ~ '.title')|trans }}
                </span>
            </a>
        {% endfor %}
    </div>
    <div class="footer">
       <a href="{{ path('admin_logout') }}">
           {{ 'icon.logout'|icon }} 
           <span class="module-title">{{ 'action.logout'|trans }}</span>
       </a>
    </div>           
</div>

{# Display small view side bar #}
<div class="default small-block">
    <div class="header">
    </div>
    <div class="body">
        {% for key, module in twig.app.modules %}
            <a href="{{ path(module.route) }}" class="sidebar-links" title="{{ ('module.' ~ key ~ '.title')|trans }}">
                {{ ('module.' ~ key ~ '.icon')|icon }}
            </a>
        {% endfor %}
    </div>
</div>